---
layout: base
title: Home
---

<div class="span12">

  <div class="hero-unit" id="a-spot">
    <h1>Chris Hunter</h1>

    <h3>2013 Downhill and Dual Cross Resume</h3>    

  <p>This site was built with the purpose of exploring potential partnership support between myself and {company} in the 2014 race season. </p> 

  <p>Next season I will continue to ride and film around the country at awesome locations like Whistler and Highland Bike park.  I also plan to race several gravity east races, freeride events such as SDS, as well as select Enduro races.
  </p>

  </div>

  <div>
      {% for p in site.promoted_by_sort %}
        {% assign page = p %}
        <section class="post" id="{{ page.title | replace: ' ', '-' }}">
          <div class="page-header">
            <h1><a name="section" href="{{page.url}}" title="{{page.title}}">{{ page.title }}</a></h1>
            
            {% if page.secondtitle %}
            <h3>{{ page.secondtitle }}</h3>
            {% endif %}
          </div>

            {% if page.summary %}
          <div class="entry">
            <p>{{ page.summary }}</p></div>
            <a class="btn btn-secondary" href="{{page.url}}">Read More</a>
            {% else %}
          <div class="entry">{{ page.content }}</div>
            {%endif%}
        </section>

      {% endfor %}
  </div>

  <!-- Any manually keyed content is added here from /index.html -->
	{{ content }}
</div><!--/span-->


