---
layout: base
title: Home
---

<div class="span12">

  <div class="hero-unit" id="a-spot">
    <img src="/static/photos/riding/18.jpeg" class="img-rounded pull-right" width="400" />
    <h1>Chris Hunter</h1>

    <h3>2012 Downhill and Dual Cross Resume</h3>    

  <p>This site was built with the purpose of exploring potential partnership support between myself and {company} in the 2013 race season. This is really for fun, but I do plan to attend ten races in 2013 with the intention of winning the Gravity East Championship for Cat 1 Men 30-39.  I also plan to race certain 2013 Eastern States Cup races.</p>
  </div>

  <div>
      {% for p in site.promoted_by_sort %}
        {% assign page = p %}
        <section class="post" id="{{ page.title | replace: ' ', '-' }}">
          <div class="page-header">
            <h1><a name="Resume-and-Introduction" href="{{page.url}}" title="{{page.title}}">{{ page.title }}</a></h1>
            
            {% if page.secondtitle %}
            <h3>{{ page.secondtitle }}</h3>
            {% endif %}
          </div>

            {% if page.summary %}
          <div class="entry">
            <p>{{ page.summary }}</p></div>
            <a class="btn btn-secondary" href="{{page.url}}">Read More</a>
            {% else %}
          <div class="entry">{{ page.content }}</div>
            {%endif%}
        </section>

      {% endfor %}
  </div>

  <!-- Any manually keyed content is added here from /index.html -->
	{{ content }}
</div><!--/span-->


